<header class="header">
  <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown messages-menu">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink">
          
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <ul class="dropdown-menu-over list-unstyled">
          
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu list-unstyled">
                  <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://via.placeholder.com/160x160" class="rounded-circle  " alt="User Image">
                    </div>
              
                  </a>
                </li>
                <!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
                    </div>
                    <h4>
                   
                    <small><i class="fa fa-clock-o"></i></small>
                    </h4>
                    <p></p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
                    </div>
                   
                 
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
                    </div>
                    <h4>
               
                    </h4>
                  
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
                    </div>
              
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item dropdown notifications-menu">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink">
      
        
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <ul class="dropdown-menu-over list-unstyled">
          
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu list-unstyled">
                <li>
                -->
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>
                <li>
                  <a href="#">
                  
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer-ul text-center"><a href="#">View all</a></li>
          </ul>
        </div>
      </li>
      
      <li class="nav-item dropdown  user-menu">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="http://via.placeholder.com/160x160" class="user-image" alt="User Image" >
          <!-- <span class="hidden-xs">bootstrap develop</span> -->
        </a>
        
      </li>
    </ul>
  </div>
</nav>
</header>
<div class="main">
<aside>
  <div class="sidebar left ">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="http://via.placeholder.com/160x160" class="rounded-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>DASHBOARD</p>
     
      </div>
    </div>
    <ul class="list-sidebar bg-defoult">
      <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active" > <i class="fa fa-th-large"></i> <span class="nav-label"> Dashboards </span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse" id="dashboard">
        <li class="active"><a href="#">CSS3 Animation</a></li>
        <li><a href="#">General</a></li>
        <li><a href="#">Buttons</a></li>
        <li><a href="#">Tabs & Accordions</a></li>
      
      </ul>
    </li>
    <li> <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a> </li>
    <li> <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active" > <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span> <span class="fa fa-chevron-left pull-right"></span> </a>
    <ul class="sub-menu collapse" id="products">
      <li class="active"><a href="#">CSS3 Animation</a></li>
      <li><a href="#">General</a></li>
      <li><a href="#">Buttons</a></li>
     
  
    </ul>
  </li>
  <li> <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a> </li>
  <li> <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active" ><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa fa-chevron-left pull-right"></span></a>
  <ul  class="sub-menu collapse" id="tables" >
    <li><a href=""> Static Tables</a></li>
    <li><a href=""> Data Tables</a></li>
    <li><a href=""> Foo Tables</a></li>
  
  </ul>
</li>
<li> <a href="#" data-toggle="collapse" data-target="#e-commerce" class="collapsed active" ><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa fa-chevron-left pull-right"></span></a>
<ul  class="sub-menu collapse" id="e-commerce" >
  <li><a href=""> Products grid</a></li>
 


