<form>
    <div class="form-group">
        <label for="inputsensor"><i class="fas fa-id-badge"></i> Id</label>
        <input type="input" class="form-control" id="inputsensor" placeholder="Ingrese sensor">
    </div>
    <div class="form-group">
        <label for="inputsensor"><i class="fas fa-broadcast-tower"></i> Tipo de sensor</label>
        <input type="input" class="form-control" id="inputTipo" placeholder="Ingrese Tipo">
    </div>
    <div class="form-group">
        <label for="inputsensor"><i class="fas fa-file-medical-alt"></i> Estado</label>
        <input type="input" class="form-control" id="inputEstado" placeholder="Estado">
    </div>
    <div class="form-group">
        <label for="fechaInicio"><i class="fas fa-calendar-alt"></i> Fecha de inicio</label>
        <input type="input" class="form-control" id="inputFecha" placeholder="Fecha de Inicio">
    </div>
    <div class="form-group">
        <label for="modelo"><i class="fas fa-tag"></i> Modelo</label>
        <input type="input" class="form-control" id="inputModelo" placeholder="Ingrese modelo">
    </div>
    <div class="form-group">
        <label for="bateria"><i class="fas fa-charging-station"></i> Bateria</label>
        <input type="input" class="form-control" id="inputbateria" placeholder="Bateria">
    </div>
    <div class="form-group">
        <label for="Latitud"><i class="fas fa-map-marker-alt"></i> Latitud</label>
        <input type="input" class="form-control" id="inputLatitud" placeholder="latitud">
    </div>
    <div class="form-group">
        <label for="Longitud"><i class="fas fa-map-marker-alt"></i> Longitud</label>
        <input type="input" class="form-control" id="inputLongitud" placeholder="longitud">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>