<form>
<div class="form-group">
    <label for="inputsensor">Nombre del Sensor</label>
    <input type="input" class="form-control" id="inputsensor" placeholder="Ingrese sensor">
</div>
<div class="form-group">
  <label for="inputsensor">Tipo</label>
  <input type="input" class="form-control" id="inputTipo" placeholder="Ingrese Tipo">
</div>
<div class="form-group">
  <label for="inputsensor">Estado</label>
  <input type="input" class="form-control" id="inputEstado" placeholder="Estado">
</div>
<div class="form-group">
  <label for="fechaInicio">Fecha de inicio</label>
  <input type="input" class="form-control" id="inputFecha" placeholder="Fecha de Inicio">
</div>
<div class="form-group">
  <label for="modelo">Modelo</label>
  <input type="input" class="form-control" id="inputModelo" placeholder="Ingrese modelo">
</div>
<div class="form-group">
  <label for="bateria">Bateria</label>
  <input type="input" class="form-control" id="inputbateria" placeholder="Bateria">
</div>
<div class="form-group">
  <label for="Latitud">Latitud</label>
  <input type="input" class="form-control" id="inputLatitud" placeholder="latitud">
</div>
<div class="form-group">
  <label for="Longitud">Longitud</label>
  <input type="input" class="form-control" id="inputLongitud" placeholder="longitud">
</div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>