<div class="container">
    <div class="row">
        <h2>Total de dispositivos agregados</h2>
    </div>
    <div class="row border-one">
        <div class="col-2 bg-one p-2">
            <p>Ultimos dispositivos</p>
            <p>10</p>
            <!-- <p>{{totalSensores}}</p> -->
        </div>
        <div class="col-10">
            <div id="dispositivos" style="height: 150px; width: 90%;"></div>

        </div>

    </div>
    <div class="row mt-5">
        <table class="table table-striped border-one">
            <thead class="bg-one ">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"><i class="fas fa-calendar-alt"></i> Fecha</th>
                    <th scope="col"><i class="far fa-building"></i> Lugar</th>
                    <th scope="col"><i class="fas fa-map-marker-alt"></i> Lat</th>
                    <th scope="col"><i class="fas fa-map-marker-alt"></i> Lng</th>
                    <th scope="col"><i class="fas fa-charging-station"></i> Bateria</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sensor of sensores">
                    <th scope="row">{{sensor.id}}</th>
                    <td>{{sensor.tipo}}</td>
                    <td>{{sensor.fecha_inicio}}</td>
                    <td>{{sensor.planta}}</td>
                    <td>{{sensor.posicion.latitud}}</td>
                    <td>{{sensor.posicion.longitud}}</td>
                    <td>{{sensor.bateria}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>